streamlit==1.40.2
pandas==2.2.0
numpy==1.26.4
scikit-learn==1.5.0
joblib==1.4.2
plotly==5.24.0
folium==0.14.0
streamlit-folium==0.18.0
requests==2.32.3
streamlit-option-menu==0.3.12
google-genai==2.16.0
pymupdf==1.24.8
